<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WinThumbsPreloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Languages"/>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <WinThumbsPreloader.Properties.Settings>
      <setting name="Multithreaded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Admin" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThreadCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ExtensionsText" serializeAs="String">
        <value>avi, avif, bmp, gif, heic, heif, jpg, jpeg, mkv, mov, mp4, png, svg, tif, tiff, webp</value>
      </setting>
      <setting name="PreloadFolderIcons" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoBackupThumbs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ResetRecognized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ThumbsResetAlert" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoRestoreThumbs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="StartWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DriveSelectionEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DriveSortChoice" serializeAs="String">
        <value>Vertical</value>
      </setting>
      <setting name="TwentyFourHourMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DetailedTimeMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheUpdateInterval" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="AutoBackupInterval" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="AutoRestoreInterval" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="CacheSizeFormat" serializeAs="String">
        <value>MB</value>
      </setting>
      <setting name="ExplorerCacheDeletionMethod" serializeAs="String">
        <value>Manual Deletion</value>
      </setting>
      <setting name="PreloadAllFolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ExtensionsAutoFormatting" serializeAs="String">
        <value>Disabled</value>
      </setting>
      <setting name="PreloaderThumbnailSizes" serializeAs="String">
        <value>96,256</value>
      </setting>
      <setting name="ExplorerCloseFrequency" serializeAs="String">
        <value>On Every File</value>
      </setting>
      <setting name="LoggingFrequency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="BackupRestoreClearSafety" serializeAs="String">
        <value>Allow Partial Copy</value>
      </setting>
      <setting name="WaitAfterPreloading" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaitTimeAfterPreloading" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ProgressDialogUpdateSpeed" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="WaitAfterCacheBackup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaitTimeAfterCacheBackup" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="WaitAfterPreloadingUnit" serializeAs="String">
        <value>Seconds</value>
      </setting>
      <setting name="WaitAfterCacheUnit" serializeAs="String">
        <value>Seconds</value>
      </setting>
      <setting name="PreloaderProcessPriority" serializeAs="String">
        <value>Below Normal</value>
      </setting>
      <setting name="DonePathScrollEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DonePathShortenMode" serializeAs="String">
        <value>End</value>
      </setting>
      <setting name="DonePathVisibleChars" serializeAs="String">
        <value>54</value>
      </setting>
      <setting name="BackupCacheFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="LastBackupDateTime" serializeAs="String">
        <value />
      </setting>
      <setting name="LoggerFolderPath" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoDeleteLogsByAge" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogRetentionDays" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="MaxLogFileSizeMB" serializeAs="String">
        <value>1024</value>
      </setting>
      <setting name="AutoBackupAfterPreload" serializeAs="String">
        <value>True</value>
      </setting>
    </WinThumbsPreloader.Properties.Settings>
  </userSettings>
</configuration>
